@font-face{
    font-family: Metropolis;
    src: url("../fonts/Metropolis-Regular.woff") format("woof"),
    url("../fonts/Metropolis-Regular.woff2") format("woff2"),
    url("../fonts/Metropolis-SemiBold.woff") format("woff"),
    url("../fonts/Metropolis-SemiBold.woff2") format("woff2"),
    url("../fonts/Metropolis-Bold.woff") format("woff"),
    url("../fonts/Metropolis-Bold.woff2") format("woff2");
}

body {
    font-family: "Metropolis";
}

.navbar-brand img:hover{
    transform: scale(1.1);
    transition: transform .5s;
}

.navbar {
    background-color: #ffffff
}

.row .search-input {
    width: 460px;
    height: 40px;
}

.search-group {
    height: 40px;
}

.search-group button {
    border-radius: 12px;
}

.search-icon{
    right: 100px;
    top: 11px;
}

.btn-user button {
    width: 100px;
    height: 36px;
}

.btn-user .login {
    background-color: #DB3022;
}




/* .Cart {
    margin-left: -40px;
    margin-right: -40px;
} */

.main .category {
    margin-bottom: 1px;
    font-size:34;
    font-weight: bold;
    color: #222222
  }
.Cart {
    justify-content: space-between;
}

.Cart .item-list {
    /* margin-right: 60px !important; */
    /* border: 1px solid #000000; */
    width: 680px;
    height: 126px
}

/* .main {
    margin-top: -20px;
    margin-left: -40px;
} */
.main .description {
    font-size: 16px;
    font-weight: 600;
}
.main .category {
    font-size:34px;
    font-weight: 600;
    line-height: 2;
}

.Cart .main-list {
    padding: 10px;
    /* padding-right: 30px; */
    margin-top: 15px;
    margin-bottom: 5px;
    background: #FFFFFF;
    box-shadow: 2px 2px 10px 2px rgba(115, 115, 115, 0.75);
    border-radius: 4px;
    height: 190px;
}
.Cart .main-list button {
    width: 210px;
    height: 36px;
    font-size: 14px;
    color: #9B9B9B;
    border-radius: 24px;
    border: 1px solid #9b9b9b
}

.Cart .main-list .address {
    font-size: 14px;
    color: #222222;
}
.Cart .main-list .name {
    font-size: 16px;
    color: #222222;
    font-weight:600;
    line-height:2
}

.Cart .main-list .desc-main .desc-info1{
    margin-left: 10px;
}
.Cart .main-list .desc-main .desc-info2{
    justify-content: space-evenly;
    margin-left: 15px;
}
.Cart .main-list .desc-main .desc-info2 .teks2{
    color: #D5D5D5;
    margin-left: 5px;
}

.Cart .bag-list .listOne{
    padding: 10px;
    padding-right: 30px;
    margin-top: 15px;
    margin-bottom: 10px;
    background: #FFFFFF;
    box-shadow: 10px 2px 10px 2px rgba(115, 115, 115, 0.75);
    border-radius: 4px;
    height: 126px;
}
.Cart .bag-list .listTwo{
    padding: 10px;
    /* padding-right: 30px; */
    margin-top: 15px;
    margin-bottom: 5px;
    background: #FFFFFF;
    box-shadow: 10px 2px 10px 2px rgba(115, 115, 115, 0.75);
    border-radius: 4px;
    height: 126px;
}

.Cart .bag-list .listOne .someOne {
    margin-right: 150px;
}

.Cart .bag-list .listOne .someOne .namaBarang {
    margin-left: 10px;
    line-height: 8px;
}
.Cart .bag-list .listOne .someOne .namaBarang .teks2{
    color: #9B9B9B  ;
}
.Cart .bag-list .listOne .harga{
    font-weight: 600;
}
.Cart .bag-list .listTwo .someOne .namaBarang .teks2{
    color: #9B9B9B  ;
}

.Cart .bag-list .listTwo .someOne {
    margin-right: 180px;
    margin-left: 0px !important;
}

.Cart .bag-list .listOne .tombol{
    position: relative;
    right: 85px;
}
.Cart .bag-list .listTwo .someOne .namaBarang {
    margin-left: 10px;
    line-height: 8px;
}

.Cart .bag-list .listTwo .tombol{
    right: 85px;
}
.Cart .bag-list .listTwo .harga{
    font-weight: 600;
}

.Cart .item-summary {
    padding: 20px;
    margin-top: 13px;
    width: 380px;
    height: 256px;
    background: #FFFFFF;
    box-shadow: 2px 2px 10px 2px rgba(115, 115, 115, 0.75);
    border-radius: 4px;
}

.item-summary .total-price p {
    color: #9B9B9B;
}
.item-summary h4 {
    font-weight: bold;
    font-size: 16px;
    color: #222222
}

.item-summary .buy-btn {
    color: white;
    height: 40px;
    width: 100%;
    outline: none;
    background: #DB3022;
    border-radius: 25px;
    cursor: pointer;
    border: none;
}
.item-summary .total-price .harga {
    font-weight: bold;
    color: #222222
}

#price {
    border-bottom: 1px solid #9B9B9B;
}

#price-total {
    margin-top: 20px
}
#price-total p {
    color: #222222;
    font-weight: bold;
}
#price-total h5 {
    color: #DB3022;
    font-weight: 600;
    font-size: 18;
}